:root {
  --primary-color: #0077b5;
  --nav-color: #283e4a;
}
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

/* utilites */
.container {
  width: 89%;
  margin: 0 auto;
}

/* nav style */
#navbar {
  width: 100%;
  height: 52px;
  background-color: var(--nav-color);
}
#navbar .nav-items {
  display: grid;
  grid-template-columns: 40fr 60fr;
  align-items: center;
  justify-content: center;
}
#navbar .left-nav {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#navbar .right-nav {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-nav img {
  width: 40px;
  height: 34px;
  margin-right: 10px;
  margin-left: 7%;
}
.left-nav .search {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #e1e9ee;
  width: 280px;
  height: 34px;
  border-radius: 2px;
}
.search .fa-search {
  color: #50626e;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 5px;
}
.search p {
  color: #50626e;
  font-size: 15px;
}
.right-nav .home {
  fill: white;
}
.right-nav .network path,
.right-nav .job path,
.chat path,
.notification path,
.work path {
  fill: #c7d1d8;
}
.profile .pro-img {
  width: 30px;
  height: 30px;
  background-color: #c7d1d8;
  border-radius: 50%;
}
.profile img {
  width: 20px;
  height: 20px;
  margin: 5px;
}
.hamburger {
  display: none;
}
#premium {
  color: #b8b292;
  text-align: justify;
  font-size: 13px;
}
.work svg {
  display: block;
  padding-left: 7px;
}
.work a,
.work p {
  color: #c7d1d8;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 13px;
  display: inline;
}

/* main post style */
.post-container {
  width: 40%;
  height: 90vh;
  margin: 10px auto;
}
.post {
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* border: 1px solid #e1e9ee; */
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.45);
}
.post > p {
  width: 80%;
  margin: 0px;
  color: #363837;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  padding: 10px;
}
.post p span {
  font-weight: bold;
}
.post p span:nth-child(3),
#post1 span:nth-child(2) {
  position: absolute;
  right: 2%;
  top: 5px;
  font-weight: bolder;
  font-size: 20px;
}
.intro {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e1e1e1;
}
.intro img {
  width: 40px;
  height: 40px;
  margin: 15px;
}
.profile-intro p {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  color: #363837;
  opacity: 0.7;
}
.profile-intro p:nth-child(1) {
  margin-top: 14px;
  font-weight: bold;
  opacity: 1;
}
.intro a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  position: absolute;
  top: 30%;
  right: 2%;
  color: var(--primary-color);
}
.intro a i {
  margin-right: 3px;
}
.post-des p {
  margin: 15px;
  margin-top: 7px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  color: #283e4a;
  text-align: justify;
}
.post-des img {
  width: 100%;
}
.reaction {
  width: 100%;
  padding: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
}
.reaction p {
  display: inline;
  color: #283e4a;
  opacity: 0.8;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.action {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-top: 1px solid #e5e5e5;
}
.action div {
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.action svg {
  fill: #50626e;
  opacity: 0.6;
}
.action div p {
  color: #50626e;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 2px;
}
footer {
  display: none;
}

/* side navbar */
.blackbg {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: none;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 5;
}
#side-nav {
  position: absolute;
  top: 0;
  left: -300px;
  width: 270px;
  height: 100vh;
  background-color: white;
  z-index: 7;
}
.show-bg {
  display: block;
}
.show {
  animation: side 0.5s ease-in-out forwards;
}
.hide {
  animation: side 0.5s ease-in-out reverse;
}
.hide-bg {
  display: none;
}
#side-nav .profile-sec {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}
.row-1,
.row-2 {
  display: grid;
  grid-template-columns: 90fr 10fr;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.row-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.row-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 0px;
}
.row-1 i {
  color: white;
  fill: white;
  transform: rotate(-120deg);
  padding-right: 55px;
  margin-bottom: 50px;
}
.row-2 i {
  color: white;
  fill: white;
}
.row-2 p {
  color: white;
  font-size: 18px;
}
.row-2 p span {
  font-size: 13px;
  padding-top: 5px;
  color: lightgray;
}
ul {
  padding-left: 10px;
}
ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 10fr 90fr;
  align-items: center;
  justify-content: start;
  padding: 0;
}
ul li i {
  width: 10px;
  padding-right: 30px;
  color: rgba(0, 0, 0, 0.34);
}
@keyframes side {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}

/* media query */
@media only screen and (max-width: 620px) {
  body {
    /* overflow: hidden; */
    overflow-x: hidden;
  }
  html {
    overflow-y: hidden;
    /* overflow-x: hidden; */
  }
  .post-container {
    margin-top: 15%;
    width: 100%;
  }
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .left-nav .search {
    width: 74%;
    height: 34px;
    position: absolute;
    left: 10%;
    margin-left: 15px;
  }
  .right-nav .home,
  .right-nav .job,
  .right-nav .network,
  .right-nav .notification,
  .right-nav .work,
  .right-nav #premium,
  .profile,
  .left-nav img {
    display: none;
  }
  .hamburger {
    display: block;
    color: white;
    position: absolute;
    left: 0;
    padding: 15px;
  }
  .chat {
    position: absolute;
    right: 0;
    padding: 15px;
  }
  footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 99vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-top: 1px solid #c7d1d8;
  }
  footer .network path,
  footer .job path,
  .notification path,
  .work path {
    fill: #556655;
  }
  footer .home path {
    fill: var(--primary-color);
  }
}
@media (min-width: 620px) and (max-width: 830px) {
  .post-container {
    width: 50%;
  }
  .left-nav .search {
    width: 60%;
    height: 34px;
  }
  #side-nav {
    display: none;
  }
  #bg {
    display: none;
  }
}
